* { margin: 0; padding: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, canvas, video { display: block; }

html, body { height: 100%; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; }

input, select, textarea, button, textarea { font-family: inherit; font-size: inherit; color: inherit; vertical-align: middle; background-color: #fff; }

input, textarea, button { line-height: 1.2; vertical-align: middle; }

button[disabled], input[disabled] { cursor: default; }

textarea { overflow: auto; resize: none; }

i, address, em { font-style: normal; font-weight: normal; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

b, strong { font-weight: 500; }

dd, li, menu { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; border-collapse: collapse; }

legend, caption { display: none; }

img, fieldset, iframe { border: 0; }

img { vertical-align: top; max-width: 100%; }

a { color: inherit; text-decoration: none; cursor: pointer; }

button { border: none; background-color: transparent; cursor: pointer; overflow: visible; }

a img, img, ul li img { vertical-align: top; }

input[type=text], input[type=password], textarea { background: #fff; border: 1px solid #d3d4e0; height: 20px; line-height: 20px; color: #666; padding: 0 5px; vertical-align: middle; }

textarea { height: auto; }

textarea { padding: 5px; }

input[type=text]:hover, input[type=password]:hover, textarea:hover, input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=text].focus, input[type=password].focus, textarea.focus { color: #666; }

input[type="checkbox"] { vertical-align: middle; width: 13px; height: 13px; line-height: 13px; }

input[type="radio"] { vertical-align: middle; width: 18px; height: 18px; line-height: 18px; }

input[type=file] { background: #fff; border: 1px solid #ddd; height: 23px; line-height: 23px; color: #666; padding-left: 5px; vertical-align: middle; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

/* 1200 */
header { height: 80px; background: #333; }

header a { color: #999; }

header #header { display: flex; width: 1200px; margin: 0 auto; }

@media (max-width: 1023px) { header #header { width: 100%; } }

header #header h1 { display: inline-block; margin-top: 25px; color: #fff; }

header #header nav { display: flex; width: 100%; }

header #header nav ul { display: flex; width: 1000px; justify-content: center; text-align: center; }

header #header nav ul li { line-height: 80px; }

header #header nav ul li a { display: inline-block; padding: 0 40px; }

header #header .order { position: absolute; top: 30px; left: calc(100% - 206px); }

header #header .order a { color: #fff; display: inline-block; padding-left: 35px; padding-bottom: 10px; text-align: right; background: url(../images/main_ico_order.png) 0 0 no-repeat; }

footer { height: 160px; padding-top: 30px; background: #333; color: #bfbfbf; font-size: 13px; line-height: 1.53; font-weight: 300; }

footer #footer { width: 1200px; margin: 0 auto; display: flex; }

footer #footer .logo_footer { display: inline-block; width: 267px; }

footer #footer address { display: block; }

footer #footer .copy { display: inline-block; margin-top: 15px; }

#container_wrapper .main_visual { position: relative; }

#container_wrapper .main_visual a > img { width: 100%; }

#container_wrapper .main_visual .play_btn { position: absolute; top: calc(50% - 80px); left: calc(50% - 60px); }

#container_wrapper .main_banner_area { width: 1200px; margin: 50px auto; display: flex; }

@media (max-width: 1023px) { #container_wrapper .main_banner_area { width: 100%; margin: 10px 0; display: block; }
  #container_wrapper .main_banner_area .main_banner { width: 100%; margin-bottom: 10px; }
  #container_wrapper .main_banner_area .main_notice { width: 100% !important; margin: 0 !important; } }

#container_wrapper .main_banner_area .main_notice { margin-left: 30px; padding: 25px 30px; width: 350px; height: 225px; border: 1px solid #e1e1e1; position: relative; }

#container_wrapper .main_banner_area .main_notice h3 { color: #c80921; font-size: 22px; }

#container_wrapper .main_banner_area .main_notice h3 em { color: #222; font-weight: bold; }

#container_wrapper .main_banner_area .main_notice ul { display: flex; flex-wrap: wrap; margin-top: 21px; }

#container_wrapper .main_banner_area .main_notice ul li { width: 100%; margin-top: 13px; }

#container_wrapper .main_banner_area .main_notice ul li a { color: #777; font-size: 15px; }

#container_wrapper .main_banner_area .main_notice ul li a:hover { text-decoration: underline; }

#container_wrapper .main_banner_area .main_notice .btn_more { position: absolute; top: 25px; right: 20px; }

@media (max-width: 1023px) { #container_wrapper section > div { width: 100% !important; padding-left: 10px; padding-right: 10px; } }

#container_wrapper section h2 { padding-top: 58px; padding-bottom: 50px; text-align: center; font-size: 40px; font-weight: 500; position: relative; }

@media (max-width: 1023px) { #container_wrapper section h2 { font-size: 25px !important; padding-top: 20px !important; padding-bottom: 20px !important; } }

#container_wrapper section h2:before { position: absolute; left: calc(50% - 30px); bottom: 20px; content: ''; width: 60px; height: 1px; background: #fc4b6d; }

@media (max-width: 1023px) { #container_wrapper section h2:before { display: none; } }

#container_wrapper section p.sub_tit { text-align: center; font-size: 16px; font-weight: 300; letter-spacing: -1.2px; }

@media (max-width: 1023px) { #container_wrapper section p.sub_tit { text-align: left; } }

#container_wrapper section ul.cer_list { width: 1200px; margin: 60px auto 0; display: flex; justify-content: center; }

@media (max-width: 1023px) { #container_wrapper section ul.cer_list { width: 100%; } }

#container_wrapper section ul.cer_list li { text-align: center; }

#container_wrapper section ul.cer_list li + li { margin-left: 15px; }

#container_wrapper section ul.cer_list li p { margin-top: 13px; font-size: 15px; color: #555; }

#container_wrapper section ul.cer_list li p em { display: block; margin-bottom: 3px; color: #de203f; font-size: 18px; }

#container_wrapper .main_professor { background: #f5f5f5; }

#container_wrapper .main_professor > div { width: 1200px; margin: 0 auto; }

#container_wrapper .main_professor > div > p { color: #555; }

#container_wrapper .main_professor > div ul { padding-top: 40px; padding-bottom: 70px; display: flex; flex-wrap: wrap; }

@media (max-width: 1023px) { #container_wrapper .main_professor > div ul { overflow: hidden; display: block; width: 100%; height: 319px; margin: 0 auto; } }

#container_wrapper .main_professor > div ul li a { display: inline-block; width: 100%; height: 319px; position: relative; }

@media (max-width: 1023px) { #container_wrapper .main_professor > div ul li a { height: auto; padding-bottom: 20px; } }

#container_wrapper .main_professor > div ul li a:hover span { display: block; }

#container_wrapper .main_professor > div ul li a span { display: none; width: 100%; height: 319px; padding: 30px 20px; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.5); color: #fff; font-size: 14px; line-height: 1.6; letter-spacing: -1px; }

@media (max-width: 1023px) { #container_wrapper .main_professor > div ul li a span { display: block; } }

#container_wrapper .main_professor > div ul li a span h3 { font-size: 20px; font-weight: 500; line-height: 1.3; }

#container_wrapper .main_professor > div ul li a span p { margin-top: 5px; margin-bottom: 20px; color: #fc4b6d; font-size: 14px; font-weight: 500; }

#container_wrapper .main_mov { height: 566px; background: url(../images/main_bg_mov.jpg) center center no-repeat; }

@media (max-width: 1023px) { #container_wrapper .main_mov { height: auto; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; } }

#container_wrapper .main_mov h2 { color: #fff; }

#container_wrapper .main_mov h2:before { background: #818181; }

#container_wrapper .main_mov p { color: #fff; }

#container_wrapper .main_mov ul { width: 1200px; margin: 60px auto 0; display: flex; justify-content: center; }

@media (max-width: 1023px) { #container_wrapper .main_mov ul { width: 100%; }
  #container_wrapper .main_mov ul li { width: 100%; } }

#container_wrapper .main_mov ul li { margin: 0 2px; }

#container_wrapper .main_suik .main_suik_table_area { width: 1200px; margin: 70px auto 60px; display: flex; }

@media (max-width: 1023px) { #container_wrapper .main_suik .main_suik_table_area { width: 100%; } }

#container_wrapper .main_suik .main_suik_table_area > div + div { margin-left: 30px; }

#container_wrapper .main_hugi { padding-bottom: 120px; background: #f5f5f5; }

#container_wrapper .main_gong { height: 638px; background: url(../images/main_bg_gong.jpg) center center no-repeat; }

@media (max-width: 1023px) { #container_wrapper .main_gong { height: auto; padding-bottom: 20px; } }

#container_wrapper .main_gong h2 { color: #fff; }

#container_wrapper .main_gong h2:before { background: #818181; }

#container_wrapper .main_gong p { color: #fff; }

#container_wrapper .main_bottom_banner { overflow: hidden; width: 100%; background: #ed4a41; text-align: center; }

@media (max-width: 1023px) { #container_wrapper .main_bottom_banner { width: 100%; } }

/*# sourceMappingURL=default.css.map */