@charset "utf-8";
@import 'variables.scss',
'mixin.scss',
'normalize';

/* 1200 */
// 공통 




// 레이아웃
header {
    height: 80px;
    background: #333;

    a {
        color: #999;
    }

    #header {
        display: flex;
        width: 1200px;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }


        h1 {
            display: inline-block;
            margin-top: 25px;
            color: #fff;
        }

        nav {
            display: flex;
            width: 100%;

            @include mobile {

			}

            ul {
                display: flex;
                width: 1000px;
                justify-content: center;
                text-align: center;

                li {
                    line-height: 80px;

                    a {
                        display: inline-block;
                        padding: 0 40px;

                    }
                }
            }
        }

        .order {
            position: absolute;
            top: 30px;
            left: calc(100% - 206px);

            a {
                color: #fff;
                display: inline-block;
                padding-left: 35px;
                padding-bottom: 10px;
                text-align: right;
                background: url(../images/main_ico_order.png) 0 0 no-repeat;
            }
        }


    }

}

footer {
    height: 160px;
    padding-top: 30px;
    background: #333;
    color: #bfbfbf;
    font-size: 13px;
    line-height: 1.53;
    font-weight: 300;

    #footer {
        width: 1200px;
        margin: 0 auto;
        display: flex;

        .logo_footer {
            display: inline-block;
            width: 267px;
        }

        address {
            display: block;

        }

        .copy {
            display: inline-block;
            margin-top: 15px;
        }
    }


}










// 메인

#container_wrapper {

    .main_visual {
        position: relative;

        a>img {
            width: 100%;
        }

        .play_btn {
            position: absolute;
            top: calc(50% - 80px);
            left: calc(50% - 60px);
        }
    }

    .main_banner_area {
        width: 1200px;
        margin: 50px auto;
        display: flex;

        @include mobile {
            width: 100%;
            margin: 10px 0;
            display: block;

            .main_banner {
                width: 100%;
                margin-bottom: 10px;
            }

            .main_notice {
                width: 100% !important;
                margin: 0 !important;
            }
        }

        .main_notice {
            margin-left: 30px;
            padding: 25px 30px;
            width: 350px;
            height: 225px;
            border: 1px solid #e1e1e1;
            position: relative;

            h3 {
                color: #c80921;
                font-size: 22px;

                em {
                    color: #222;
                    font-weight: bold;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                margin-top: 21px;

                li {
                    width: 100%;
                    margin-top: 13px;

                    a {
                        color: #777;
                        font-size: 15px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .btn_more {
                position: absolute;
                top: 25px;
                right: 20px;

            }

        }
    }

    section {
        >div {
            @include mobile {
                width: 100% !important;
                padding-left: 10px;
                padding-right: 10px;


            }
        }

        h2 {
            padding-top: 58px;
            padding-bottom: 50px;
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            position: relative;

            @include mobile {
                font-size: 25px !important;
                padding-top: 20px !important;
                padding-bottom: 20px !important;
            }


            &:before {
                position: absolute;
                left: calc(50% - 30px);
                bottom: 20px;
                content: '';
                width: 60px;
                height: 1px;
                background: #fc4b6d;

                @include mobile {
                    display: none;
                }
            }
        }

        p.sub_tit {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: -1.2px;

            @include mobile {
                text-align: left;
            }
        }

        ul.cer_list {
            width: 1200px;
            margin: 60px auto 0;
            display: flex;
            justify-content: center;
			@include mobile {
				width:100%; 
			}
            li {
                &+li {
                    margin-left: 15px;
                }

                text-align: center;

                p {
                    margin-top: 13px;
                    font-size: 15px;
                    color: #555;

                    em {
                        display: block;
                        margin-bottom: 3px;
                        color: #de203f;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .main_professor {
        background: #f5f5f5;

        >div {
            width: 1200px;
			margin: 0 auto;
			
		

            >p {
                color: #555;
            }

            ul {
                padding-top: 40px;
                padding-bottom: 70px;
                display: flex;
                flex-wrap: wrap;

                @include mobile {
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    height: 319px;
                    margin: 0 auto;
                }

                li {
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 319px;
                        position: relative;
						@include mobile {
							height: auto;
							padding-bottom: 20px;
						}
                        &:hover span {
                            display: block;
                        }

                        span {
                            display: none;
                            width: 100%;
                            height: 319px;
                            padding: 30px 20px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.5);
                            color: #fff;
                            font-size: 14px;
                            line-height: 1.6;
							letter-spacing: -1px;
							@include mobile {
								display: block;
							}

                            h3 {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 1.3;
                            }

                            p {
                                margin-top: 5px;
                                margin-bottom: 20px;
                                color: #fc4b6d;
                                font-size: 14px;
                                font-weight: 500;
                            }


                        }

                        &:hover {}
                    }
                }
            }

        }
    }


    .main_mov {
        height: 566px;
		background: url(../images/main_bg_mov.jpg) center center no-repeat;
		@include mobile {
			height:auto;
			padding-bottom: 20px ;
			padding-left: 20px;
			padding-right: 20px;
		}

        h2 {
            color: #fff;

            &:before {
                background: #818181;
            }
        }

        p {

            color: #fff;
        }

        ul {
            width: 1200px;
            margin: 60px auto 0;
            display: flex;
			justify-content: center;
			@include mobile {
				width:100%; 
				li {
					width:100%; 
				}
			}

            li {
                margin: 0 2px;

                a {}
            }
        }
    }


    .main_suik {
        .main_suik_table_area {
            width: 1200px;
            margin: 70px auto 60px;
			display: flex;
			@include mobile {
				width:100%; 
			}

            >div+div {
                margin-left: 30px;
            }
        }
    }

    .main_hugi {
        padding-bottom: 120px;
        background: #f5f5f5;

    }

    .main_gong {

        height: 638px;
		background: url(../images/main_bg_gong.jpg) center center no-repeat;
		
		@include mobile {
			height: auto;
			padding-bottom: 20px;
		}

        h2 {
            color: #fff;

            &:before {
                background: #818181;
            }
        }

        p {

            color: #fff;
        }
    }

    .main_bottom_banner {
        overflow: hidden;
        width: 100%;
        background: #ed4a41;
		text-align: center;
		@include mobile {
			width:100%; 
		}

    }






}