<div class="inner">
	<nav>
		<ul>
			<li>
				<button type="button" name="button">마케팅센터 소개</button>
				<div class="depth2">
					<!-- <a href="#">쇼핑몰 시작하기</a> -->
					<a href="#">마케팅센터 소개</a>
					<a href="#">마케팅솔루션 소개</a>
					<a href="#">마케팅 성공 클라이언트</a>
					<a href="#">마케팅 수상이력</a>
					<a href="#">글로벌 마케팅 성공사례</a>
				</div>
			</li>
			<li>
				<button type="button" name="button">광고소개</button>
				<div class="depth2">
					<a href="#">국내광고 전체보기</a>
					<a href="#" class="depth3">검색광고</a>
					<a href="#" class="depth3">쇼핑광고</a>
					<a href="#" class="depth3">디스플레이광고</a>
					<a href="#" class="depth3">SNS / 동영상광고</a>
					<a href="#" class="depth3">모바일광고</a>
					<a href="#">해외광고 전체보기</a>
					<a href="#" class="depth3">영어권 광고</a>
					<a href="#" class="depth3">대만 광고</a>
					<a href="#" class="depth3">중국 광고</a>
					<a href="#" class="depth3">일본 광고</a>
					<a href="#" class="depth3">동남아 광고</a>
					<a href="#">신규광고 소개</a>
				</div>
			</li>
			<li>
				<button type="button" name="button">광고관리</button>
				<div class="depth2">
					<a href="#">MY비즈니스</a>
					<a href="#" class="depth3">광고신청현황</a>
					<a href="#" class="depth3">광고결제현황</a>
					<a href="#" class="depth3">결제내역</a>
					<a href="#" class="depth3">계산서/관리</a>
					<a href="#">광고현황</a>
					<a href="#">접속통계</a>
					<a href="#">광고보고서</a>
				</div>
			</li>
			<li>
				<button type="button" name="button">고객센터</button>
				<div class="depth2">
					<a href="#">공지사항</a>
					<a href="#">교육/이벤트안내</a>
					<a href="#">FAQ</a>
					<a href="#" class="depth3">국내광고 FAQ</a>
					<a href="#" class="depth3">해외광고 FAQ</a>
					<a href="#">1:1문의</a>
					<a href="#" class="depth3">문의하기</a>
					<a href="#" class="depth3">문의내역</a>
					<a href="#">무료컨설팅 신청</a>
					<a href="#" class="depth3">신청하기</a>
					<a href="#" class="depth3">신청내역</a>
				</div>
			</li>
		</ul>
	</nav>

	<div class="logo-wrap">
		<a href="#" class="logo"><img src="../../images/common/logo-footer.png" alt=""></a>
		<div class="family">
			<button type="button" name="button" class="opener">Family Site</button>
			<div class="list">
				<ul>
					<li><a href="#">카페24</a></li>
					<li><a href="#">호스팅센터</a></li>
					<li><a href="#">도메인센터</a></li>
				</ul>
				<ul>
					<li><a href="#">쇼핑몰센터</a></li>
					<li><a href="#">창업센터</a></li>
					<li><a href="#">교육센터</a></li>
				</ul>
				<ul>
					<li><a href="#">마케팅센터</a></li>
					<li><a href="#">디자인센터</a></li>
					<li><a href="#">디자인뱅크</a></li>
					<li><a href="#">홈페이지제작센터</a></li>
					<li><a href="#">BIZ솔루션</a></li>
				</ul>
				<ul>
					<li><a href="#">리셀러</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="info-wrap">
		<button type="button" name="button" class="info-title">사업자정보</button>
		<ul class="company">
			<li><span>대표이사</span>  <strong>이재석</strong></li>
			<li><span>사업자등록번호</span> <strong>118-81-20586</strong></li>
			<li><span>통신판매업 신고</span>  <strong>동작 제02-680-078호</strong>  <a href="#">사업자 정보 확인</a></li>
			<li><span>소재지</span>  <em>서울특별시 동작구 보라매로5길 15 (신대방동, 전문건설회관)</em></li>
			<li><span>고객센터</span>  <em>대표</em>  <a href="tel:1644-4990">1644-4990</a> (09:00 ~ 18:00 / 토, 일, 공휴일 휴무)</li>
			<li><span>전자우편</span>  <a href="mailto:marketing@cafe24corp.com">marketing@cafe24corp.com</a></li>
			<li><span>호스팅제공</span>  <em>카페24(주)</em></li>
		</ul>
		<div class="certify">
			<a href="http://www.kolsa.or.kr/neopress/index.php" target="_blank" class="img1"><img src="../../images/common/certify1.png" alt="KOLSA"></a>
			<a href="http://www.khada.kr/" target="_blank" class="img2"><img src="../../images/common/certify2.png" alt="KHADA"></a>
			<a href="https://m-img.cafe24.com/images/contract/common/isms/index.html" onclick="window.open(this.href, 'popup', 'width=500, height=500'); return false;" title="새창 열림" class="img3"><img src="../../images/common/certify3.png" alt="ISMS"></a>
		</div>
	</div>

	<div class="copyright-wrap">
		<div class="link">
			<a href="#">회사소개</a>
			<a href="#">이용약관</a>
			<a href="#" class="bold">개인정보처리방침</a>
			<br>
			<a href="#">청소년보호정책</a>
			<button type="button" name="button" class="ui-popup-call" data-target="#terms-Service">서비스이용약관</button>
			<a href="#">제휴문의</a>
		</div>
		<p>Copyright © Cafe24 Corp. All Rights Reserved.</p>
	</div>
</div>

<button type="button" name="button" id="top">상단으로</button>

<!-- 서비스이용약관 popup// -->
<div id="terms-Service" class="ui-popup">
	<div class="content">
		<div class="header">
			<h1>카페24 서비스이용약관</h1>
			<button type="button" class="btn-close">닫기</button>
		</div>
		<div class="body">
			<div class="textarea">제 1 조 (목적)
이 약관은 회원이 카페24 주식회사(이하 “회사”)가 제공하는 카페24 마케팅센터 서비스(“서비스”)를 이용함에 있어 필요한 이용조건, 절차 및 기타 필요한 사항을 규정함을 목적으로 합니다.

제 2 조 (용어의 정의)
① 이 약관에서 사용되는 용어의 정의는 다음 각 호와 같습니다.
1. “카페24 마케팅센터 서비스”(이하 “서비스”)이라 함은 광고주가 광고를 보다 효율적으로 이용할 수 있도록 광고관리(광고현황, 충전/내역관리, 접속정보관리), 광고 효과분석(광고통합보고서), 각 상품별 광고신청 및 계정생성, 등록 등의 업무를 대행하는 서비스를 말합니다.
2. “광고상품”이라 함은 키워드광고, 쇼핑광고, 디스플레이광고, 모바일광고 및 기타 광고상품을 말합니다.
3. “광고매체”이라 함은 “광고상품”을 게재하는 광고 사이트 및 매체사를 말합니다.
4. “광고이용료”라 함은 광고상품을 진행하기 위하여 지급되는 광고비용을 말합니다.
5. “수수료”라 함은 광고진행에 따른 “서비스” 제공에 대한 대가를 말합니다.
② 전항에서 정의되지 아니한 용어는 홈페이지, 상관례 또는 관계법령에 따라 해석됩니다.

제 3 조 (약관의 게시와 개정)
① 회사는 본 약관의 내용을 광고주가 쉽게 알 수 있도록 홈페이지 초기화면 또는 연결화면을 통하여 게시합니다.
② 회사는 필요한 경우 관련법을 위반하지 않는 범위 내에서 본 약관을 개정할 수 있으며, 이 경우 개정내용과 적용일자를 명시하여 홈페이지 초기화면 또는 연결화면에 그 적용일자 7일 전부터 적용일자 전일까지 공지합니다. 다만, 회원에게 불리한 약관 개정의 경우에는 개정약관의 적용일자 30일 전부터 적용일자까지 공지합니다.
③ 회사가 전항에 따른 기간 동안 개정약관 고지 또는 통지를 하면서 ‘의사표시를 하지 않으면 의사표시가 표명된 것으로 본다’는 뜻을 명확하게 공지 또는 통지하였음에도 회원이 명시적으로 거부의 의사표시를 하지 아니한 경우 회사는 광고주가 개정약관에 동의한 것으로 봅니다.
④ 회원은 개정약관에 동의하지 않는 경우 개정 약관의 적용일 이전에 거부 의사를 표시하고 이 약관을 해지할 수 있습니다.</div>
		</div>
	</div>
</div>
<!-- //서비스이용약관 popup -->
