<div class="util">
	<!-- 로그인 전// -->
	<a href="#">로그인</a>
	<a href="#">회원가입</a>
	<!-- //로그인 전 -->

	<!-- 로그인 후// -->
	<!-- <div class="login">
		<a href="#">irisccc 님</a>

		<div class="link">
			<a href="#">로그아웃</a>
			<a href="#">마이페이지</a>
		</div>
	</div> -->
	<!-- //로그인 후 -->
</div>
<div class="inner">
	<h1 class="logo">
		<a href="#">cafe24 마케팅센터</a>
	</h1>

	<div class="menu-wrap">
		<div>
			<div class="util">
				<!-- 로그인 전// -->
				<a href="#" class="mobile-login">로그인</a>
				<!-- //로그인 전 -->

				<!-- 로그인 후// -->
				<!-- <div class="login">
					<a href="#"><span>irisccc</span> 님</a>
					<div class="link">
						<a href="#">로그아웃</a>
						<a href="#">마이페이지</a>
					</div>
				</div> -->
				<!-- //로그인 후 -->
			</div>

			<nav>
				<ul>
					<li class="depth1">
						<button type="button" name="button">마케팅센터 소개</button>
						<ul class="depth2">
							<li><a href="#">마케팅센터 소개</a></li>
							<li><a href="#">마케팅솔루션 소개</a></li>
							<li><a href="#">마케팅 성공 클라이언트</a></li>
							<li><a href="#">마케팅 수상이력</a></li>
							<li><a href="#">글로벌 마케팅 성공사례</a></li>
						</ul>
					</li>

					<li class="depth1">
						<button type="button" name="button">광고소개</button>
						<ul class="depth2">
							<li>
								<a href="#">국내광고 전체보기</a>
								<ul class="depth3">
									<li><a href="#">검색광고</a></li>
									<li><a href="#">쇼핑광고</a></li>
									<li><a href="#">디스플레이광고</a></li>
									<li><a href="#">SNS/동영상광고</a></li>
									<li><a href="#">모바일광고</a></li>
								</ul>
							</li>
							<li>
								<a href="#">해외광고 전체보기</a>
								<ul class="depth3">
									<li><a href="#">영어권 광고</a></li>
									<li><a href="#">대만 광고</a></li>
									<li><a href="#">중국 광고</a></li>
									<li><a href="#">일본 광고</a></li>
									<li><a href="#">동남아 광고</a></li>
								</ul>
							</li>
							<li>
								<a href="#">신규광고 소개</a>
							</li>
						</ul>
					</li>

					<li class="depth1">
						<button type="button" name="button">광고관리</button>
						<ul class="depth2">
							<li>
								<a href="#">MY비즈니스</a>
								<ul class="depth3">
									<li><a href="#">광고신청현황</a></li>
									<li><a href="#">광고결제현황</a></li>
									<li><a href="#">결제내역</a></li>
									<li><a href="#">계산서/관리</a></li>
								</ul>
							</li>
							<li><a href="#">광고현황</a></li>
							<li><a href="#">접속통계</a></li>
							<li><a href="#">광고보고서</a></li>
						</ul>
					</li>

					<li class="depth1">
						<button type="button" name="button">고객센터</button>
						<ul class="depth2">
							<li><a href="#">공지사항</a></li>
							<li><a href="#">교육/이벤트안내</a></li>
							<li>
								<a href="#">FAQ</a>
								<ul class="depth3">
									<li><a href="#">국내광고 FAQ</a></li>
									<li><a href="#">해외광고 FAQ</a></li>
								</ul>
							</li>
							<li>
								<a href="#">1:1문의</a>
								<ul class="depth3">
									<li><a href="#">문의하기</a></li>
									<li><a href="#">문의내역</a></li>
								</ul>
							</li>
							<li>
								<a href="#">무료컨설팅 신청</a>
								<ul class="depth3">
									<li><a href="#">신청하기</a></li>
									<li><a href="#">신청내역</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<div class="fav">
				<!-- 로그인 전// -->
				<!-- <a href="#">관심상품</a> -->
				<a href="#">무료컨설팅 신청</a>
				<a href="#">FAQ</a>
				<!-- //로그인 전 -->

				<!-- 로그인 후// -->
				<!-- <a href="#">관심상품</a>
				<a href="#">1:1 문의</a>
				<a href="#" class="btn point">광고신청</a>
				<a href="#" class="btn point">광고비결제</a> -->
				<!-- //로그인 후 -->
			</div>

			<button type="button" name="button" class="mobile-menu-close">메뉴 닫기</button>
		</div>
	</div>

	<!-- 알림// -->
	<div class="alarm">
		<button type="button" name="button" class="btn-bell">알림</button>
		<span class="bell"></span>
		<span class="new"></span>
		<div class="alarm-popup">
			<div class="content">
				<div class="head">
					<p>My알림</p>
					<button type="button" name="button" class="alarm-popup-close">닫기</button>
					<span>
						<em>항상 위에 노출</em>
						<button type="button" name="button" class="fixed-on">켜기</button>
					</span>
				</div>
				<div class="body">
					<div class="ui-tab alarm-popup-tab" data-active-idx="0">
						<ul class="tab-nav">
							<li class="notice"><a href="#tab-con1"><span>결제</span></a></li>
							<li class="notice"><a href="#tab-con2"><span>문의답변</span></a></li>
							<li><a href="#tab-con3"><span>보고서</span></a></li>
							<li><a href="#tab-con4"><span>공지/이벤트</span></a></li>
						</ul>
						<div class="tab-content">
							<div id="tab-con1">
								<div class="notice"><span>2</span>건이 결제 대기중입니다</div>

								<ul class="list">
									<li class="new-list">
										<p>디스플레이 광고의 결제가 요청되었습니다.</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<a href="#" class="btn xsmall point">광고비결제</a>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
									<li class="new-list">
										<p>가상계좌 : 신한은행 110-212-251568</p>
										<p>결제금액 : 1,000,000 </p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<a href="#" class="btn xsmall point">결제대기</a>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
									<li>
										<p>네이버 클릭초이스 광고잔액이 2일 후 소진 예정입니다. 확인부탁드립니다. </p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
								</ul>

								<div class="pagination">
									<button type="button" class="prev" disabled>이전</button>
									<!-- <button type="button" class="prev">이전</button> -->
									<a href="javascript:void(0)" class="active">1</a>
									<a href="javascript:void(0)">2</a>
									<a href="javascript:void(0)">3</a>
									<a href="javascript:void(0)">4</a>
									<a href="javascript:void(0)">5</a>
									<button type="button" class="next">다음</button>
									<!-- <button type="button" class="next" disabled>다음</button> -->
								</div>
							</div>
							<div id="tab-con2">
								<div class="notice"><span>2</span>개의 새로운 답변이 등록되었습니다</div>

								<ul class="list">
									<li class="new-list">
										<p>네이버쇼핑 진행절차는 어떻게 되나요?</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
									<li class="new-list">
										<p>DB URL이 무엇인가요?</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
								</ul>

								<div class="pagination" style="display: none;">
									<button type="button" class="prev" disabled>이전</button>
									<!-- <button type="button" class="prev">이전</button> -->
									<a href="javascript:void(0)" class="active">1</a>
									<a href="javascript:void(0)">2</a>
									<a href="javascript:void(0)">3</a>
									<a href="javascript:void(0)">4</a>
									<a href="javascript:void(0)">5</a>
									<button type="button" class="next">다음</button>
									<!-- <button type="button" class="next" disabled>다음</button> -->
								</div>
							</div>
							<div id="tab-con3">
								<div class="notice"><span>1</span>개의 새로운 보고서가 생성되었습니다</div>

								<ul class="list">
									<li class="new-list">
										<p>월간보고서 : 2018.03.11~2018.03.17</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
								</ul>

								<div class="pagination" style="display: none;">
									<button type="button" class="prev" disabled>이전</button>
									<!-- <button type="button" class="prev">이전</button> -->
									<a href="javascript:void(0)" class="active">1</a>
									<a href="javascript:void(0)">2</a>
									<a href="javascript:void(0)">3</a>
									<a href="javascript:void(0)">4</a>
									<a href="javascript:void(0)">5</a>
									<button type="button" class="next">다음</button>
									<!-- <button type="button" class="next" disabled>다음</button> -->
								</div>
							</div>
							<div id="tab-con4">
								<div class="notice"><span>1</span>개의 새로운 보고서가 생성되었습니다</div>

								<ul class="list ellipsis">
									<li class="new-list">
										<p><strong>공지</strong>[네이버키워드] 검색광고 신규체험 프로 검색광고 신규체험 프로 검색광고 신규체험 프로 검색광고 신규체험 프로 검색광고 신규체험 프로</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
									<li class="new-list">
										<p><strong>이벤트</strong>[다음키워드] 확장소재 오픈</p>
										<span>
											<em>2019.05.29</em>
											<em>14:45:00</em>
										</span>
										<button type="button" name="button" class="delete">삭제</button>
									</li>
								</ul>

								<div class="pagination" style="display: none;">
									<button type="button" class="prev" disabled>이전</button>
									<!-- <button type="button" class="prev">이전</button> -->
									<a href="javascript:void(0)" class="active">1</a>
									<a href="javascript:void(0)">2</a>
									<a href="javascript:void(0)">3</a>
									<a href="javascript:void(0)">4</a>
									<a href="javascript:void(0)">5</a>
									<button type="button" class="next">다음</button>
									<!-- <button type="button" class="next" disabled>다음</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //알림 -->

	<button type="button" name="button" class="mobile-menu">메뉴 열기</button>
</div>
